body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #108397;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.saveIcon, .editIcon, .deleteIcon {
  cursor: pointer;
  margin-right: 5px;
  color: #333;
  transition: transform 0.3s ease;
}

.saveIcon:hover {
  color: #00FFFF;
  transform: scale(1.3);
}

.editIcon:hover {
  color: blue;
  transform: scale(1.3);
}

.deleteIcon:hover {
  color: red;
  transform: scale(1.3);
}
.content {
  /* Styles spécifiques pour le contenu de ingredients.html */
  width: 80%; /* Ajustez la largeur du contenu selon vos préférences */
  padding: 20px; /* Espacement autour du contenu */
  background-color: #fff; /* Fond du contenu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre autour du contenu */
}