<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <title>Side bar responsive</title>
    <link rel="stylesheet" href="static/css/dashboard.css" />
    <link rel="stylesheet" href="static/css/ingredients.css" />
      <link rel="stylesheet" href="static/css/index.css" />


    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-MealPrice-plus-plus icon"></i>
        <div class="logo_name">MealPrice</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search..." />
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="/index1.html" id="index1-link">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">index1</span>
          </a>
          <span class="tooltip">Index1</span>
        </li>
        <li>
          <a href="/user.html">
            <i class="bx bx-user"></i>
            <span class="links_name">User</span>
          </a>
          <span class="tooltip">User</span>
        </li>
        <li>
          <a href="/stocks.html">
            <i class="bx bx-chat"></i>
            <span class="links_name">Stocks</span>
          </a>
          <span class="tooltip">Stocks</span>
        </li>
        <li>
          <a href="/recettes.html" id="recettes-link">
            <i class="bx bx-folder"></i>
            <span class="links_name">Recettes </span>
          </a>
          <span class="tooltip">Creez vos recettes</span>
        </li>
        <li>
          <a href="/ingredients.html" id="ingredients-link">
            <i class="bx bx-cart-alt"></i>
            <span class="links_name">Ingredients</span></a
          >
          <span class="tooltip">Ingredients</span>
        </li>
        <li>
          <a href="/calendar.html" id="calendar-link">
            <i class="bx bx-heart"></i>
            <span class="links_name">Calendar</span>
          </a>
          <span class="tooltip">Planifiez vos menus</span>
        </li>
        <li>
          <a href="/calculator.html" id="calculator-link">
            <i class="bx bx-cog"></i>
            <span class="links_name">Calculator</span>
          </a>
          <span class="tooltip">calculer</span>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="text">Meal Price,</div>
      <div id="content-container"></div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    // sidebar open close
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
      });

      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      }

// cliquer sur le lien
$(document).ready(function () {
    
    function handleLinkClick(e, url) {
        e.preventDefault();
        sidebar.classList.add("open");
        $.get(url, function(data) {
            $("#content-container").html(data);
        }).fail(function() {
            console.log("Erreur lors du chargement de la page " + url + ".");
        });
    }

    $("#ingredients-link").click(function (e) {
        handleLinkClick(e, "/ingredients");
    });

    $("#recettes-link").click(function (e) {
        handleLinkClick(e, "/recettes");
    });

    $("#calculator-link").click(function(e) {
        handleLinkClick(e, "/calculator");
    });
    
    $("#index1-link").click(function(e) {
        handleLinkClick(e, "/index1");
    });
    $("#calendar-link").click(function(e) {
        handleLinkClick(e, "/calendar");
    });
   $("#stocks-link").click(function(e) {
        handleLinkClick(e, "/stocks");
    }); 
   $("#user-link").click(function(e) {
        handleLinkClick(e, "/user");
    });
});
</script>
</body>
</html>