<!DOCTYPE html>
<html>

<head>
    <title>MealPrice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header>
        <img src="static/images/index1.png" alt="logo" class="logo">
        <h1 id="site-title">MealPrice</h1>
        <p id="site-description">La recette de vos économies</p>
<body>
      <h1 class="title">Hello tous le monde ! </h1>
      <p id="currentTime"></p>
     
 
        <div class="menu">
            <a href="/" class="menu-item"><i class="fas fa-home"></i> Accueil</a>
            <a href="/ingredients" class="menu-item"><i class="fas fa-leaf"></i> Ingrédients</a>
            <a href="/recettes" class="menu-item"><i class="fas fa-book-open"></i> Recettes</a>
            <a href="/calendar" class="menu-item"><i class="fas fa-calendar-alt"></i> Calendar</a>
            <a href="/stocks" class="menu-item"><i class="fas fa-box"></i> Stocks</a>
            <a href="/calculator" class="menu-item"><i class="fas fa-calculator"></i> Calculator</a>
            <a href="/dashboard" class="menu-item"><i class="fas fa-chart-line"></i> Dashboard</a>
        </div>
    </header>
<script>function showTime() {
	document.getElementById('currentTime').innerHTML = new Date().toUTCString();
}
showTime();
setInterval(function () {
	showTime();
}, 1000);
</script>
    <main>
        <h2>La recette de vos economies </h2>
        <h3>Dans le monde de la cuisine, la maîtrise des dépenses est un art à part entière. 
            MealPrice vous offre la clarté 
        et la précision nécessaires pour gérer vos coûts sans compromettre la qualité. 
        Que vous soyez un passionné cuisinant à la maison ou un professionnel 
        gérant un menu de restaurant, découvrez comment chaque ingrédient peut être à la fois délicieux et économique.</h3>
    </main>

    {% block content %} {% endblock%}

    <footer>
        <div class="footer-content">
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Votre entreprise. Tous droits réservés.</p>
        </div>
    </footer>

</body>

</html>
